## Задачи с типами данных

*В задачах, где в формулировке требуется запрашивать данные у пользователя - не обязательно использовать метод input*

**1. Напишите программу, которая запрашивает у пользователя два числа, складывает их и выводит результат на экран. Затем программа должна запросить у пользователя две строки и объединить их в одну, после чего вывести результат на экран.**

Пример результата выполнения программы:
```
Сумма: 30
Объединенная строка: Hello world!
```

In [3]:
#code
string=input ("Введите 2 числа через пробел")
numbers=string.split()
a=int(numbers[0])
b=int(numbers[1])
print("Сумма:", a+b)
str1=input()
str2=input()
print("Объединенная строка:", str1+" "+str2)

Сумма: 30
Объединенная строка: HelloWord

**2. Напишите программу, которая запрашивает у пользователя количество фотографий, сделанных, например, за декабрь, январь и февраль, а затем выводит эти данные на экран. Также программа должна вывести сумму и среднее количество фотографий, сделанных за весь сезон.**

Пример выполнения программы:
```
Сколько фотографий Вы сделали в декабре? 145
Сколько фотографий Вы сделали в январе? 201
Сколько фотографий Вы сделали в феврале? 97

За зимний сезон Вы сделали 443 фотографий!
В среднем, Вы сделали 147.67 фотографий в месяц!
```

In [17]:
#code
month=["декабре","январе","феврале"]
col=[]
col.append(input(f"Сколько фотографий Вы сделали в {month[0]}?"))
col.append(input(f"Сколько фотографий Вы сделали в {month[1]}?"))
col.append(input(f"Сколько фотографий Вы сделали в {month[2]}?"))
total=0
for j in range(3):
    print(f"Сколько фотографий Вы сделали в {month[j]}?", col[j])
    total+=int(col[j])
print(f"За зимний сезон вы сделали {total} фотографий")
print(f"В среднем вы сделали {total/3} фотографий в месяц!")

Сколько фотографий Вы сделали в декабре? 5
Сколько фотографий Вы сделали в январе? 6
Сколько фотографий Вы сделали в феврале? 7
За зимний сезон вы сделали 18 фотографий
В среднем вы сделали 6.0 фотографий в месяц!

**3. Создайте такую структуру данных, выводом которой будет являться жанр того фильма, к которому обратился пользователь (необязательно связывать с кинематографом). Также приведите пример вывода данных.**

Шаблон структуры данных:

```
{
  'Название фильма': 'Жанр фильма',
  'Название фильма': 'Жанр фильма',
  ...
}
```

Пример вывода:

Мой любимый фильм "Терминатор", он исполнен в жанре "Боевик"

In [21]:
#code
films={'Тарантул': 'Боевик','Риссомаха': 'фентези', 'Манул': 'комедия'}
print("Выберите фильм и введите его название", list(films.keys()))
film=input()
for i in films:
    if film==i:
        print(f"Мой любимый фильм {i}, он исполнен в жанре {films[i]}")

Выберите фильм и введите его название ['Тарантул', 'Риссомаха', 'Манул']
Мой любимый фильм Тарантул, он исполнен в жанре Боевик

## Условный оператор if...else

**4. Напишите программу, в которой пользователь должен указать свой возраст, а на выходе получить ответ - совершеннолетний он или нет.**

In [23]:
#code
age=input()
if(int(age)>=18):
    print("Совершеннолетний")
else:
    print("Несовершеннолетний")

Совершеннолетний

**5. Напишите программу, в которую необходимо ввести два числа и операцию, которую нужно провести между ними. На выходе должен получиться результат выбранной операции. 
`Усложнение`: защитите программу от ошибки в случае некорректности данных.**

In [28]:
#code
a=input()
operation=input()
b=input()
if operation=="+":
    print(a, operation, b, "=",int(a)+int(b))
elif operation=="-":
    print(a, operation, b, "=",int(a)-int(b))
elif operation=="/":
    if(int(b)!=0):
        print(a, operation, b, "=",int(a)/int(b))
    else:
        print("Деление на ноль невозможно!")
elif operation=="*":
    print(a, operation, b, "=",int(a)*int(b))

Деление на ноль невозможно!

##  Цикл For

**6. Напишите программу, которая на вход получает список значений (от 5 до 10 будет достаточно). Затем все элементы списка должны быть возведены в квадрат и выведены на экран поочереди. `Для усложнения`: создайте список, в котором будут ошибочные типы данных и защитите программу от ошибки.**

Пример выполнения программы:

```
квадрат числа 1 равен 1
квадрат числа 20 равен 400
квадрат числа 4 равен 16
Ошибочный тип данных
квадрат числа 16 равен 256
квадрат числа 8 равен 64
квадрат числа 23 равен 529
Ошибочный тип данных
```

In [12]:
#code
try:
    number='5 6 7 8 9 10'
    numbers=[int(x) for x in number.split()]

    for i in numbers:
        print(f"квадрат числа {i} равен {i**2}")
except ValueError:
        print("Ошибочный тип данных")

квадрат числа 5 равен 25
квадрат числа 6 равен 36
квадрат числа 7 равен 49
квадрат числа 8 равен 64
квадрат числа 9 равен 81
квадрат числа 10 равен 100

**7. Целью следующей программы будет создание цикла в цикле. На вход должна поступить последовательность чисел. На выходе должна получиться последовательность чисел, которая будет являться результатом перемножения всех чисел в списке друг на друга.**

Например при перемножении всех значений друг на друга от 1 до 3 должен получиться подобный список:  
```
[1, 2, 3, 2, 4, 6, 3, 6, 9]
```

In [17]:
#code
numbers=[1,2,3]
result=[]
for i in numbers:
    for j in numbers:
        result.append(i*j)
print(result)

[1, 2, 3, 2, 4, 6, 3, 6, 9]

**8. Напишите программу, которая получает на вход список чисел, а затем определяет каждое число на предмет того, чётное оно или нечетное.**

пример строки и вывода:

```
lst = [2, 6, 7, 23, 908, 67, 33, 777]
число чётное
число чётное
число нечётное
число нечётное
число чётное
число нечётное
число нечётное
число нечётное
```

In [19]:
#code
numbers2=[1,2,3,4,5,6,7,8]
for i in numbers2:
    if int(i)%2==0:
        print("число четное")
    else:
        print("число нечетное")

число нечетное
число четное
число нечетное
число четное
число нечетное
число четное
число нечетное
число четное

##  Функции

**9. Интерпретируйте задачу № 5, то есть создайте функцию, в которую Вы будете закладывать два числа и оператор, а на выход получать необходимый результат.**

In [24]:
#code
def func(a,operator,b):
    if operator=="+":
        print(a, operator, b, "=",int(a)+int(b))
    elif operator=="-":
        print(a, operator, b, "=",int(a)-int(b))
    elif operator=="/":
        if(int(b)!=0):
            print(a, operator, b, "=",int(a)/int(b))
        else:
            print("Деление на ноль невозможно!")
    elif operator=="*":
        print(a, operator, b, "=",int(a)*int(b))
func(1,"+",2)

1 + 2 = 3

**10.Напишите функцию, которая принимает на вход два списка и объединяет их в один список, удаляя при этом дубликаты элементов. Для удаления дубликатов воспользуйтесь методом set()**

In [26]:
#code
def function(spisok1, spisok2):
    print(set(spisok1+spisok2))
function([1,2,3,4],[2,4,5,6])

{1, 2, 3, 4, 5, 6}

**11. Напишите функцию, которая будет принимать на вход два списка, а возвращать только общие элементы этих списков.**

In [37]:
#code
def function2(spisok1, spisok2):    
    one_set = set(spisok1)
    two_set = set(spisok2)
    return(one_set.intersection(two_set))  
function2([1,2,3,4],[2,4,5,6])

{2, 4}